In [1]:
import os

import pandas as pd

## Configs

In [2]:
base_dir = "./data"
os.makedirs(base_dir, exist_ok=True)

schd_path = os.path.join(base_dir, "schd_dividend.csv")

## Fetch SCHD Dividend History    
- Data source: https://www.nasdaq.com/market-activity/etf/schd/dividend-history
- TODO: use selenium (bs4 not work due to Shadow DOM)

In [3]:
schd_dividend_history = """
09/25/2024	Cash	$0.7545	02/19/2024	09/25/2024	09/30/2024
06/26/2024	Cash	$0.8241	02/19/2024	06/26/2024	07/01/2024
03/20/2024	Cash	$0.611	02/19/2024	03/21/2024	03/25/2024
12/06/2023	Cash	$0.7423	03/10/2023	12/07/2023	12/11/2023
06/21/2023	Cash	$0.6647	03/10/2023	06/22/2023	06/26/2023
03/22/2023	Cash	$0.5965	03/10/2023	03/23/2023	03/27/2023
12/07/2022	Cash	$0.7034	02/18/2022	12/08/2022	12/12/2022
09/21/2022	Cash	$0.6367	02/18/2022	09/22/2022	09/26/2022
06/22/2022	Cash	$0.7038	02/18/2022	06/23/2022	06/27/2022
03/23/2022	Cash	$0.5176	02/18/2022	03/24/2022	03/28/2022
12/08/2021	Cash	$0.6198	02/02/2021	12/09/2021	12/13/2021
09/22/2021	Cash	$0.587	02/02/2021	09/23/2021	09/27/2021
06/23/2021	Cash	$0.5396	02/02/2021	06/24/2021	06/28/2021
03/24/2021	Cash	$0.5026	02/02/2021	03/25/2021	03/29/2021
12/10/2020	Cash	$0.6015	01/23/2020	12/11/2020	12/15/2020
09/23/2020	Cash	$0.543	01/23/2020	09/24/2020	09/28/2020
06/24/2020	Cash	$0.442	01/23/2020	06/25/2020	06/29/2020
03/25/2020	Cash	$0.4419	01/23/2020	03/26/2020	03/30/2020
12/12/2019	Cash	$0.4658	01/29/2019	12/13/2019	12/17/2019
09/25/2019	Cash	$0.4855	01/29/2019	09/26/2019	09/30/2019
06/26/2019	Cash	$0.4209	01/29/2019	06/27/2019	07/01/2019
03/20/2019	Cash	$0.352	01/29/2019	03/21/2019	03/25/2019
12/12/2018	Cash	$0.4054	12/13/2018	12/13/2018	12/17/2018
09/25/2018	Cash	$0.3668	01/31/2018	09/26/2018	09/28/2018
06/26/2018	Cash	$0.4056	01/31/2018	06/27/2018	06/29/2018
03/16/2018	Cash	$0.2615	03/15/2018	03/19/2018	03/22/2018
12/18/2017	Cash	$0.3448	12/15/2017	12/19/2017	12/22/2017
09/18/2017	Cash	$0.3439	09/15/2017	09/19/2017	09/22/2017
06/19/2017	Cash	$0.3312	06/16/2017	06/21/2017	06/23/2017
03/20/2017	Cash	$0.3258	03/17/2017	03/22/2017	03/24/2017
12/19/2016	Cash	$0.3987	12/16/2016	12/21/2016	12/23/2016
09/19/2016	Cash	$0.2438	09/16/2016	09/21/2016	09/23/2016
06/20/2016	Cash	$0.3174	06/17/2016	06/22/2016	06/24/2016
03/21/2016	Cash	$0.2981	03/18/2016	03/23/2016	03/28/2016
12/21/2015	Cash	$0.2715	12/18/2015	12/23/2015	12/28/2015
09/21/2015	Cash	$0.2989	09/18/2015	09/23/2015	09/25/2015
06/22/2015	Cash	$0.3063	06/19/2015	06/24/2015	06/26/2015
03/23/2015	Cash	$0.2699	03/20/2015	03/25/2015	03/27/2015
12/22/2014	Cash	$0.2754	12/19/2014	12/24/2014	12/29/2014
09/22/2014	Cash	$0.2544	09/19/2014	09/24/2014	09/26/2014
06/23/2014	Cash	$0.2693	06/20/2014	06/25/2014	06/27/2014
03/24/2014	Cash	$0.2478	03/21/2014	03/26/2014	03/28/2014
12/23/2013	Cash	$0.2489	12/20/2013	12/26/2013	12/30/2013
09/23/2013	Cash	$0.2306	09/20/2013	09/25/2013	09/27/2013
06/24/2013	Cash	$0.225	06/21/2013	06/26/2013	06/28/2013
03/18/2013	Cash	$0.1993	03/15/2013	03/20/2013	03/22/2013
12/24/2012	Cash	$0.2581	12/21/2012	12/27/2012	12/31/2012
09/17/2012	Cash	$0.2078	09/14/2012	09/19/2012	09/21/2012
06/18/2012	Cash	$0.2062	06/15/2012	06/20/2012	06/22/2012
03/19/2012	Cash	$0.1379	03/16/2012	03/21/2012	03/23/2012
12/19/2011	Cash	$0.1217	12/16/2011	12/21/2011	12/23/2011
"""

In [4]:
lines = schd_dividend_history.split("\n")
result = []
for line in lines:
    if line == "":
        continue
    result.append(line.split("\t"))

In [5]:
df = pd.DataFrame(result, columns=["ex_date", "type", "dividend", "declaration_date", "record_date", "payment_date"])

In [6]:
df.head()

      ex_date  type dividend declaration_date record_date payment_date
0  09/25/2024  Cash  $0.7545       02/19/2024  09/25/2024   09/30/2024
1  06/26/2024  Cash  $0.8241       02/19/2024  06/26/2024   07/01/2024
2  03/20/2024  Cash   $0.611       02/19/2024  03/21/2024   03/25/2024
3  12/06/2023  Cash  $0.7423       03/10/2023  12/07/2023   12/11/2023
4  06/21/2023  Cash  $0.6647       03/10/2023  06/22/2023   06/26/2023

In [7]:
df.tail()

       ex_date  type dividend declaration_date record_date payment_date
46  12/24/2012  Cash  $0.2581       12/21/2012  12/27/2012   12/31/2012
47  09/17/2012  Cash  $0.2078       09/14/2012  09/19/2012   09/21/2012
48  06/18/2012  Cash  $0.2062       06/15/2012  06/20/2012   06/22/2012
49  03/19/2012  Cash  $0.1379       03/16/2012  03/21/2012   03/23/2012
50  12/19/2011  Cash  $0.1217       12/16/2011  12/21/2011   12/23/2011

## Preprocss columns

In [8]:
# process data columns
for col in df.columns:    
    if col.endswith("date"):
        df[col] = pd.to_datetime(df[col], format="%m/%d/%Y")

In [9]:
df[col] = pd.to_datetime(df[col], format="%m/%d/%Y")

In [10]:
df["dividend"] = pd.to_numeric(df["dividend"].str.replace("$", ""))

In [11]:
df.head()

     ex_date  type  dividend declaration_date record_date payment_date
0 2024-09-25  Cash    0.7545       2024-02-19  2024-09-25   2024-09-30
1 2024-06-26  Cash    0.8241       2024-02-19  2024-06-26   2024-07-01
2 2024-03-20  Cash    0.6110       2024-02-19  2024-03-21   2024-03-25
3 2023-12-06  Cash    0.7423       2023-03-10  2023-12-07   2023-12-11
4 2023-06-21  Cash    0.6647       2023-03-10  2023-06-22   2023-06-26

## Save results

In [12]:
df.to_csv(schd_path, index=False)